<h3>
  Users</h3>
<table class="table table-bordered glyphicon glyphicon-subtitles">
  <thead>
    <tr style="background-color: rgb(194, 187, 187);">
      <th>Name</th>
      <th>Email ID</th>
      <th>Contact Number</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>
        <input type="text" class="form-control" [(ngModel)]="addUser.name" placeholder="Name">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="addUser.email_id" placeholder="Email Id">
      </td>
      <td>
        <input type="text" class="form-control" [(ngModel)]="addUser.contact_number" placeholder="Contact Number">
      </td>
      <td>
        <button class="btn btn-success" (click)="insert()">
          <span class="glyphicon  glyphicon-user"> Insert</span>
        </button>
      </td>
    </tr>
  </thead>
  <tbody *ngFor="let item of user | async">
    <tr>
      <td>
        {{item.name}}
      </td>
      <td>
        {{item.email_id}}
      </td>
      <td>
        {{item.contact_number}}{{item.roles}}
      </td>
      <td>
        <button class="btn btn-danger" (click)="delete(item)">
          <span class="glyphicon glyphicon-trash">Delete</span>
        </button>
        <button class="btn btn-primary" (click)="edit(item)">
          <span class="glyphicon glyphicon-pen">Update</span>
        </button>
        <button class="btn btn-primary" (click)="edit(item)" *ngIf="userService.canEdit(item)">
          <span class="glyphicon glyphicon-edit">Update (Role Based)</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="editState && itemToUpdate.id == item.id">
      <td colspan=5>
        <div>
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="itemToUpdate.name" placeholder="Name">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="itemToUpdate.email_id" placeholder="Email">
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control" [(ngModel)]="itemToUpdate.contact_number" placeholder="Contact">
            </div>
          </div>
          <p></p>
          <div class="row">
            <div class="col-md-4" style="text-align:left;">
              <button class="btn btn-primary" (click)="update()">Update</button>
              <button class="btn btn-default" (click)="clearState()">Close</button>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>